*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#d6a87a;
}

.container{
    width:220px;
    height:460px;
    background:rgba(20,20,20,0.85);
    border-radius:10px;
    padding:15px;
    color:white;
    text-align:center;
}

.timer-box{
    width:100%;
    height:180px;
    background:#e9e9e9;
    border:8px solid #3eb7d4;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
}

.timer{
    font-size:45px;
    color:#28b5d6;
}

.session-title{
    margin-bottom:15px;
    font-size:30px;
}

hr{
    border:1px dotted gray;
    margin:15px 0;
}

.settings{
    display:flex;
    justify-content:space-between;
}

.box h3{
    font-size:15px;
    margin-bottom:10px;
}

.box p{
    color:#1db7dd;
    font-size:20px;
    margin-bottom:10px;
}

.break-color{
    color:#ff7b4a !important;
}

.btn-group button{
    width:35px;
    height:30px;
    border:none;
    border-radius:5px;
    background:black;
    color:white;
    font-size:20px;
    cursor:pointer;
    margin:2px;
}

.bottom-btns{
    display:flex;
    justify-content:space-between;
}

.bottom-btns button{
    width:80px;
    height:45px;
    border:none;
    border-radius:8px;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.start{
    background:#2d9db7;
}

.reset{
    background:#e64040;
}